<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-AWS" role="menuitem"><a href="{{site.baseurl}}tag/aws/">AWS</a></li>
    <li class="nav-Azure" role="menuitem"><a href="{{site.baseurl}}tag/azure/">Azure</a></li>
    <li class="nav-VMware" role="menuitem"><a href="{{site.baseurl}}tag/vmware/">VMware</a></li>
    <li class="nav-Linux" role="menuitem"><a href="{{site.baseurl}}tag/linux/">Linux</a></li>
    <li class="nav-Windows" role="menuitem"><a href="{{site.baseurl}}tag/windows/">Windows</a></li>
</ul>
